
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<form action='/addOrder' method='post'>
		<input type='text' name='body' value='test'>
		<input type='text' name='openid' value='oQnmewdxx70ohX_ZcQU_RtLvf4Ec'>
		<input type='text' name='total_fee' value='1'>
		<input type='text' name='username' value='杨昊'>
		<input type='text' name='phone' value='1111111111'>
		<input type='submit' value='提交'>
	</form>

</body>
</html>
